cmake_minimum_required( VERSION 3.5.0 )

#CXX 17 by default
set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

project(@project_name@)

include(@auto_import@)